html {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
  max-width: 1000px;
  display: flex;
  font-family: var(--font-family-DM_Sans);
}

main {
  padding: var(--spacing-large) 0;
  display: flex;
}

.return,
.spacer {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
}

.return__button {
  background-color: transparent;
}

.blogpost {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-header {
  display: none;
  width: 100%;
  padding-bottom: var(--spacing-medium);
  justify-content: space-between;
  align-items: center;
}

.mobile-header__returnButton img {
  width: 32px;
}

.mobile-header__menu-button {
  padding: var(--spacing-x-small);
}

.mobile-header__menu-button img {
  width: 24px;
}

.blogpost-header {
  width: 100%;
  padding-bottom: var(--spacing-medium);
  display: flex;
  flex-direction: column;
}

.blogpost-header__title-container {
  padding-bottom: var(--spacing-medium);
}

.blogpost-header__taglist {
  display: flex;
  gap: var(--spacing-small);
}

.blog-posts__details-container {
  width: 100%;
  padding-top: var(--spacing-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-dark);
}

.blog-posts__details-section-left {
  display: flex;
  gap: var(--spacing-medium);
}

.blog-posts__date-container,
.blog-posts__duration-container {
  display: flex;
  gap: var(--spacing-small);
}

.blog-posts__details-section-right button {
  border: none;
  background-color: transparent;
}

.blogpost-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

@media screen and (max-width: 769px) {
  .return,
  .spacer {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .blogpost {
    padding: var(--spacing-large);
  }
}

@media screen and (max-width: 480px) {
  .return,
  .toggle {
    display: none;
  }

  .blogpost {
    padding: var(--spacing-medium);
  }
}
