html {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
  max-width: 1000px;
  display: flex;
  font-family: var(--font-family-DM_Mono);
}

.sidebar {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.sidebar__logo-section,
.sidebar__navbar-section {
  width: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-light);
}

.sidebar__navbar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  align-items: center;
}

.sidebar__navbar li a {
  color: var(--color-text-medium);
  transition: opacity var(--animated-speed-normal);
}

.sidebar__navbar li a:hover {
  opacity: 0.75;
}

.sidebar__link--active {
  font-weight: 500;
  border-bottom: 2px solid var(--color-text-medium);
}

.site-main {
  padding: 0 var(--spacing-large);
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-large);
}

.main-header {
  width: 100%;
  padding: var(--spacing-large) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-medium);
}

.main-header__title {
  font-weight: 400;
}

.main_header__tools-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xx-small);
}

.tools__button {
  padding: var(--spacing-xx-small);
}

.blog-posts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  color: var(--color-text-medium);
}

.blog-posts__container {
  position: relative;
  padding: var(--spacing-medium) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--color-light);
  font-family: var(--font-family-DM_Sans);
}

.blog-posts__content {
  width: 80%;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-small);
  border-radius: var(--boarder-radius-medium);
}

.blog-posts__image {
  width: 160px;
  height: auto;
  padding-bottom: var(--spacing-small);
  border-radius: var(--boarder-radius-small);
}

.blog-posts__title {
  font-size: 1.4rem;
  color: var(--color-text-dark);
  text-align: center;
  font-weight: 500;
  transition: opacity var(--animated-speed-normal);
}

.blog-posts__title:hover {
  opacity: 0.7;
}

.blog-posts__description {
  /* BUG: Check if this is correct */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  font-weight: 200;
}

.blog-posts__tools {
  position: absolute;
  bottom: var(--spacing-small);
  right: var(--spacing-small);
}

.blog-posts__tools button {
  border: none;
  background-color: transparent;
}
