.header {
  position: sticky;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__logo-section,
.header__navbar-section {
  width: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-light);
}

.header__navbar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  align-items: center;
}

.header__navbar li a {
  color: var(--color-text-dark);
  transition: opacity var(--animated-speed-normal);
}

.header__navbar li a:hover {
  color: var(--color-primary);
}

.header__link--active {
  font-weight: 500;
  border-bottom: 2px solid var(--color-text-medium);
}

@media screen and (max-width: 769px) {
  .header {
    width: 100%;
    position: absolute;
    top: 0;
    left: -1000px;
    right: 200px;
    transition: 0.25s;
  }

  .header--active {
    height: 100vh;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
    background-color: var(--color-light);
  }

  .header__logo-section,
  .header__navbar-section {
    width: 100%;
    padding: 0 var(--spacing-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--color-light);
  }

  .page-header {
    gap: var(--spacing-medium);
    padding: var(--spacing-small) 0;
  }

  .page-header__toggle-button-container {
    display: flex;
  }
}
