.mobile-header {
  display: none;
  /* display: flex; */
  width: 100%;
  padding-bottom: var(--spacing-medium);
  justify-content: space-between;
  align-items: center;
}

.mobile-header__returnButton img {
  width: 32px;
}

.mobile-header__menu-container {
  z-index: 1;
}

.mobile-header__menu-button {
  padding: var(--spacing-x-small);
}

.mobile-header__menu-button img {
  width: 24px;
}

@media screen and (max-width: 769px) {
  .mobile-header {
    display: flex;
  }
}
