* {
  color: #333333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #00adf7;
  text-decoration: inherit;
}

a:hover {
  color: #3ec5ff;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
