html {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
  max-width: 1000px;
  display: flex;
  font-family: var(--font-family-DM_Sans);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-header {
  padding: var(--spacing-medium);
  justify-content: end;
}

.resume {
  padding: var(--spacing-medium) var(--spacing-x-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.resume__experiences-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.resume__title {
  text-align: center;
}

.resume__experience-title {
  font-style: italic;
  font-weight: 500;
  color: var(--color-dark);
}

.resume__education-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

@media screen and (max-width: 769px) {
  .resume {
    padding: 0 var(--spacing-large);
  }
}

@media screen and (max-width: 480px) {
  .resume {
    padding: 0 var(--spacing-medium);
  }
}
