:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #00adf7;
  text-decoration: inherit;
}
a:hover {
  color: #3ec5ff;
}
